@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap') ;

:root {
    --primary-color: rgb(102, 102, 102);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid rgb(202, 202, 202);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color: var(--primary-color);
}

ul {
    display: flex;

    align-items: center;
}

ul li {
    list-style: none;
}

p {
    margin-bottom: 20px;
}

.main-image {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}



.navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 11px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 3px;
    padding: 10px;
}

.logo-menu-movil {
    display: none;
    width: 200px;
    margin-top: 15px;
}

.menu-desplegable-barras {
    display: none;
    width: 30px;
    margin: 20px;
    float: right;
}

header > nav {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.navbar-ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

main {
    padding: 20px;
}

main > ul {
    display: flex;
    flex-wrap: wrap;

}

main > ul > li {
    flex-grow: 1;
    flex-basis: 200px;
}

main > ul > li > img {
    width: 90%;
    object-fit: cover;
    transition: all 0.30s;
}

main > ul > li > img:hover {
    transform: scale(1.06);
}

body > header > nav > ul > li > img {
    width: 20px;
}

body > header > nav > ul > li > img:hover {
    opacity: 0.6;
}

.mode-inspirations {
    margin-top: 40px;
    width: 90%;
}

.home-essence {
    margin-bottom: 50px;
    width: 90%;
}

.art-lifestyle {
    padding-top: 80px;
    min-width: 350px;
}

@media (max-width: 1050px) {
    header > .navbar {
        display: none;
    }
    header > .logo-menu-movil {
        display: inline;
    }
    header > .menu-desplegable-barras{
        display: inline;
    }
}